<a href="https://colab.research.google.com/github/gmehra123/course1/blob/master/Supervised_learning_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Supervised Learning
> **Machine Learning** is the process whereby computers learn to make decisions from data, without being explicitly programmed. eg. email as spam or not spam
**Unsupervised Learning** is the process of discovering hidden patterns from unlabeled data. eg Clustering.
**Supervised Learning** Uses labeled data with features to train the model.Then given the features for unseen data it predicts a value or a lbel.

* Supervised learning can be of 2 types
  * **Classification** The target variable is categorical. Sometimes it is binary classification
  * **Regression** The target variable is continous. eg. house values

* Key steps in the process
  * Build a model
  * Model learns from the labeled data (fit step)
  * Pass the unseen data as input
  * Predict labels based on feature values in unseen data

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier

### KNN classification
* K Nearest Neighbors
* Based on distance and closeness of points
* KNN decides classification label based on n-nearest points.
* If the majority of n nearest points is labeled one way then the point will also be labelled that way.

In [ ]:
churn_df=pd.read_csv('https://assets.datacamp.com/production/repositories/5981/datasets/8582db71ec282f17c504c8eb794d54758fd8d5d8/telecom_churn_clean.csv')

In [ ]:
churn_df.sample(5)

,Unnamed: 0,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,churn
3289,3289,39,408,0,0,0,187.2,110,31.82,114.7,116,9.75,104.7,83,4.71,13.2,5,3.56,1,0
1175,1175,134,415,0,1,32,216.8,78,36.86,102.2,111,8.69,174.0,83,7.83,8.6,2,2.32,0,0
2571,2571,103,510,0,0,0,190.9,62,32.45,226.6,53,19.26,230.1,96,10.35,7.8,3,2.11,2,0
2284,2284,114,415,0,0,0,155.3,75,26.40,169.9,87,14.44,207.0,133,9.32,12.6,5,3.40,2,0
785,785,69,415,0,0,0,228.2,70,38.79,263.7,80,22.41,142.6,60,6.42,10.7,5,2.89,3,0

### General Model workflow

In [ ]:
y=churn_df['churn']
X=churn_df.loc[:,['total_day_minutes','total_eve_minutes']]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=123,stratify=y)

In [ ]:
# Fit the model and generate predictions
model=KNeighborsClassifier(n_neighbors=5)
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [ ]:
# Score the model fit
model.score(X_test,y_test)

0.868

In [ ]:
# Now running in a loop 
n =[4,5,6,7,8,9,10,11,12,13,14,15]
res={}
for i in n:
  knn=KNeighborsClassifier(n_neighbors=i)
  knn.fit(X_train,y_train)
  score=knn.score(X_test,y_test)
  res[i]=score

In [ ]:
res

{4: 0.866,
 5: 0.868,
 6: 0.869,
 7: 0.87,
 8: 0.873,
 9: 0.871,
 10: 0.874,
 11: 0.874,
 12: 0.876,
 13: 0.874,
 14: 0.873,
 15: 0.871}

> Clearly n=12 gives the highest accuracy

In [ ]:
res.values()

dict_values([0.866, 0.868, 0.869, 0.87, 0.873, 0.871, 0.874, 0.874, 0.876, 0.874, 0.873, 0.871])

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])