<a href="https://colab.research.google.com/github/gmehra123/course1/blob/master/Writing_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

### Functions and best practices
* DRY- Don't repeat yourself. for repitive tasks write functions.
* Doc Strings best practices
  * Write in imperitive language
  * What the function does. What arguments does it take in a separate args sections along with type. Returns what value along with the data type.
* Every function should do one thing

In [2]:
#Google style doc string
def pv(n_per,rate,FV):
  """Calculates the present value of a cash flow in the future.
  Args:
    n_per (int)-: Number of periods (years,months or days)
    rate (float)-: This is the periodic rate. 
    FV (float)-: This is the future value
  Returns:
    The present value."""
  pv=FV/(1+rate)**n_per
  return(pv)

In [ ]:
pv(10,0.04,10000)

6755.641688257987

In [3]:
print(pv.__doc__)

Calculates the present value of a cash flow in the future.
  Args:
    n_per (int)-: Number of periods (years,months or days)
    rate (float)-: This is the periodic rate.
    FV (float)-: This is the future value
  Returns:
    The present value.

In [4]:
def standardize(column):
  """Returns z scores of a column in a pandas data frame (pandas series)
  Args:
    column (pandas series)-: The series for which you need the z scores.
  Returns:
    Pandas series
  """
  z_col=column-column.mean()/column.std()
  return(z_col)

## Context Manager
* Sets up a context to run your code
* runs the code 
* removes the context
* open function is a context manager. open sets up a context by opeing a file. You run your code on the file and then it closes the context
* Always begins with the keyword **with context manager (<args>) as variable name:** 
* Creating a function based context manager
  * Define a function
  * write code your context needs
  * Use yield keyword
  * Add any tear down code you need
  * @contextlib.contextmanager

In [5]:
import contextlib 
@contextlib.contextmanager
def test(num):
  if num>10:
    yield('Gretaer than 10')
  else:
    yield('less than 10')
with test(30) as foo:
  print(foo)

Gretaer than 10

In [6]:
@contextlib.contextmanager
def lenfile(file_name):
  file=open(file_name,mode='r')
  text=file.read()
  len_=len(text)
  yield len_
  #Add tear down code
  file.close()

In [7]:
with lenfile('sample_data/mnist_test.csv') as file:
  print(file)

18289443

### Functions as objects
* functions are objects like lists,dictionaries and dataframes
* You can have lists of functions and dicts of functions
* You can also assign functions to variables (without parenthesis since this is assignment and not a function call)

In [23]:
# Function takes a function as an argument
def funcr(func_name):
  """ Returns the arthimetic function provided as an argument.
  Args:
    func_name(string): Defines the arithemitic operation to be performed (add or substract)
  Returns:
    function"""
  if func_name=='add':
    def add(a,b):
      return a+b
    return add
  elif func_name=='subtract':
    def sub(a,b):
      return a-b
    return sub
  else: return ('Dont know')
  
add=funcr('add')
print(add(5,2))
c=add(5,2)
print(c)

7
7

## Decorator
* Decorator is a wrapper that you can place around a function and modify its behavior.
* Modify inputs, Modify outputs or what the function does
* **@double_args** would show the format of a decorator

In [232]:
def double_args(func):
  def wrapper(a,b):
    a=a*2
    b=b*2
    return func((a),(b))
  return(wrapper)

@double_args
def multiply(a,b):
  return(a*b)

multiply(5,3)

60

In [206]:
multiply.__closure__[0].cell_contents

In [207]:
multiply=double_args(multiply)

In [208]:
multiply(5,1)

80

In [216]:
def multiply2(a,b):
  a=a*2
  b=b*2
  return (a*b)

In [218]:
multiply2(6,3)

72

In [244]:
def return_type(func):
  def wrapper(*args):
    result=func(*args)
    print('The return data type is',type(result))
    return result
  return wrapper

@return_type
def add(a,b):
  return (a+b)

add(5,2)

The return data type is <class 'int'>

7